<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/imgs/carousel/drest.jpg" alt="DRF" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Django Rest Framework</h3>
        <p>L'outils puissant de django pour realiser des API</p>
        <div>
          <button class="btn btn-lg btn-outline-light">Demarer Django Rest maintenant</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/imgs/carousel/angular.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Anguar 2/4/5</h3>
        <p>Faites vos premiers pas avec l'un des meilleurs et plus puissant des frameworks de Frontend au monde</p>
        <div>
          <button class="btn btn-lg btn-outline-light">Demarer Angular maintenant</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/imgs/carousel/ionic.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Decouvrez le Framework Ionic</h3>
        <p>Le framework de developpement d'application multiplateforme le plus efficace au monde</p>
        <div>
          <button class="btn btn-lg btn-outline-light">Demarer ionic maintenant</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
