<footer class="footer1">
  <div class="container">

    <div class="row"><!-- row -->
            
       <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_nav_menu"><!-- widgets list -->
               <h1 class="title-widget">Posts</h1>
                <ul>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test &amp; Discussion</a></li>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T &amp; D</a></li>
                </ul>    
	          </li>             
          </ul>               
       </div><!-- widgets column left end -->
                
        
        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                <h1 class="title-widget">Formation</h1>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Online Test Series</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Grand Tests Series</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Subject Wise Test Series</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Smart Book</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Test Centres</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i>  Admission Form</a></li>
		                 <li><a href="#"><i class="fa fa-angle-double-right"></i>  Computer Live Test</a></li>
                 </ul>    
	          </li>
          </ul>
        </div><!-- widgets column left end -->


        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                <h1 class="title-widget">Projets</h1>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Online Test Series</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Grand Tests Series</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Subject Wise Test Series</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Smart Book</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Test Centres</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i>  Admission Form</a></li>
		                 <li><a href="#"><i class="fa fa-angle-double-right"></i>  Computer Live Test</a></li>
                 </ul>    
	          </li>
          </ul>
        </div><!-- widgets column left end -->
                
                
        <div class="col-lg-3 col-md-3"><!-- widgets column center -->
           <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_recent_news"><!-- widgets list -->
                <h1 class="title-widget">Addresse</h1>
                <div class="footerp"> 
                
                  <h2 class="title-median">MASC Intelligence Sarl</h2>
                  <p><b>Email:</b> <a href="mailto:mascintelligence@gmail.com">mascintelligence@gmail.com</a></p>
                  <p><b>Service client </b><b style="color:#ffc106;">(de 8h à 18h):</b>  +237-693458540, +237-697267207  </p>

                  <p><b>Douala, City CICAM / 00237</b></p>
                  <p><b>Numéro de téléphone : </b>693458540 </p>
                  <p> 237-693458540, 697267207</p>
                </div>
        
                <div class="social-icons">
                  <ul class="nomargin">                        
                     <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                     <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                     <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                     <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>         
                  </ul>
                </div>
            </li>
           </ul>
        </div>
    </div>
  </div>
</footer>

<!--header-->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
           © 2018, MASC Intelligence, tous droits reservés
        </div>
      </div>

     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
           <a target="_blank" href="http://www.mascintelligence.com">Conception &amp; Development par MASC Intelligence</a>
        </div>
     </div>
   </div>
  </div>
</div>