<!-- header-top -->
<div class="header_masc-academy" style="font-size: 15px;">
  <div class="container-fluid">
    <div class="header_agileits_left" style="color: beige">
      <i class="fa fa-phone" aria-hidden="true" style="color: #c84f60;"></i> +(237) 693 458 540
      <i class="fa fa-envelope-o" aria-hidden="true" style="padding-left: 10px; color: #c84f60;"></i> <a style="color:beige" href="mailto:mascacademy@gmail.com">mascacademy@gmail.com</a>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--// header-top -->

<div class="middle-man">
    <div class="">
      <h1><a href="#" routerLink="/">MASC Intelligence</a></h1>
      <p style="color: beige"><i>Construire le futur ensemble</i></p>
    </div>
</div>

<nav class="navbar navbar-expand-md sticky-top" style="background-color: rgb(0, 95, 119);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/"><i class="fa fa-home" style="font-size: 25px"></i></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles publiés</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#" routerLink="/posts/angular">Astuces Angular 4</a>
            <a class="dropdown-item" href="#" routerLink="/posts/ionic">Le Framework Ionic 3</a>
            <a class="dropdown-item" href="#" routerLink="/posts/drf">Découvrez le monde des API</a>
            <a class="dropdown-item" href="#" routerLink="/posts/other">Extra posts</a>
            <a class="dropdown-item" href="#" routerLink="/posts/all">Tous les posts</a>
          </div>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Formations</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#" routerLink="/cours/angular">Angular 4</a>
          <a class="dropdown-item" href="#" routerLink="/cours/ionic">Ionic 3</a>
          <a class="dropdown-item" href="#" routerLink="/cours/django-rest-framework">Django Rest Framework (DRF)</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos services</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#" routerLink="/cours/angular">Developpement Web</a>
          <a class="dropdown-item" href="#" routerLink="/cours/ionic">Develppement d'applications multiplateforme</a>
          <a class="dropdown-item" href="#" routerLink="/cours/django-rest-framework">Conception de logiciels</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/template">Templates Shop</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>